.contacts{
background-image: url(../images/gladkovich/bg-mob.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(../images/gladkovich/bg-mob-2x.jpg);
    }

    @media screen and (min-width: 768px) {
        background-image: url(../images/gladkovich/bg-tab.jpg);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/gladkovich/bg-tab-2x.jpg);
        }
    }

    @media screen and (min-width: 1280px) {
        background-image: url(../images/gladkovich/bg-desk.jpg);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/gladkovich/bg-desk-2x.jpg);
        }
    }
}

.contacts__title{
    font-family: Roboto;
    font-style: Medium;
    font-size: 24px;
    line-height: 28px;
    line-height: 100%;
    color: #fff;
}