.team {
    background-color: var(--secondary-fon-color);
}

.team__title {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.card__title {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.card__text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--text-color);
}

.card {
    padding: 30px 0;
}

.team__list { 
    
@include tablet {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-right: -30px;
   }
}
.team__item{
    width: 100%;    

    @media screen and (max-width: 767.98px) {
        margin-bottom: 30px;
    }

    @include tablet {
        width: calc((100% - 60px)/2);             
    }
    
    @include desktop {
        width: calc((100% - 120px)/4);
    }
}
.team__container {
    width: 100%;
    background-color: var(--secondary-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    
}
.card__list {
    display: flex;
    gap: 10px;
    margin-top: 16px;
    justify-content: center;
}

.card__link {
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    width: 44px;
    height: 44px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--border-color);

    &:hover,
    &:focus {
        background-color: var(--contrast-color);
        color: var(--secondary-color);
    }
}

.card__icon {
    fill: currentColor;
}