.work {
    padding-bottom: 94px;
    @media screen and (max-width:1199.98px){
        display: none;
    }
}

.work__title {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.work__list {
    display: flex;
    gap: 30px;
}

.work__item {
    position: relative;
}

.work__text {
    position: absolute;
    bottom: 0;

    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: var(--secondary-color);
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: rgba(47, 48, 58, 0.8);
}